.home {
}
.home a {
  font-size: 32px;
}
.image {
  height: 400px;
  margin: 0 auto;
  filter: blur(5px);
}
.description {
  font-size: 32px;
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
}

.description span{
  font-size: 32px;
}
