.home {
  margin-top: 60px;
  margin-bottom: 40px;
  background-image: url('/public/img/purity-ring.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.home a {
  font-size: 32px;
  color: #B0B0DD;
}
.description {
  font-size: 32px;
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
}

.description span{
  color: #B0B0DD;
  font-size: 32px;
}
