.header {
  position: fixed;
  top: 0px;
  height: 80px;
  width: 100%;
  background-color: #ddd;
  text-align: center;
  text-transform: uppercase;
}

/* title */
.title {
  overflow: hidden;
  background-color: #444;
  height: 80px;
}

/* soundcloud */
.soundcloud {
  background-color: #f85d0f;
  cursor: pointer;
  height: 80px;
}


.text {
  height: 90px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  color: #fff;
}

.logo {
  height: 80px;
  float: left;
}