.header {
  position: fixed;
  top: 0px;
  height: 100px;
  width: 100%;
  background-color: #ddd;
  text-align: center;
  text-transform: uppercase;
}

.tab {
  color: #B0B0DD;
  background-color: #444;
  border-right: 2px solid #B0B0DD;
  display: inline-block;
  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.tab:hover {
  color: #B0B0DD;
  background-color: #444;
}


.title {
  width: 100%;
  background-color: #444;
}

.title h3 {
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}