.player {
}

.icons {
	width: 100%;
	padding-top: 5%;
}
.icon {
	margin-left: 10px;
	margin-right: 10px;
}

.image {
  	composes: imageCenter from '../styles/positioning.css';
	width: 200px;
	height: auto;
	padding: 10px;
}

.waveform {
	height: 50px;
	width: auto;
	background-color: #faf1B5;
}
