.grayscale {
  composes: grayscale from '../styles/common.css';
}

.trackCard {	
	width: 100%;
	border: 1px solid #e3e3e3;
	background: #fff;
	padding: 5%;
}

.image {
	height: auto;
	width: 50%;
	display: block;
    margin: 0 auto;
    padding: 5%;
}

.title {
	display: inline-block;
	white-space: pre-line;
	color: #6d6e70;
	width: 70%;
	text-align: left;
	font-size: 12px;
	margin: 0;
}

.avatar {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-bottom: -10px;
	margin-right: 5px;
	margin-top: 10px;
}
